.container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; 
    margin: auto; 
    margin-top: 2%;
}
.c1{
    display: flex;
    align-items: center;
}
.form-control{
    width: 80%;
    margin-right: 5%;
}
.btn{
    margin-left: 15%;
}
.checkbox{
    margin-left: 25%;
}