<div class="container p-4 border border-gray-300 rounded-3xl shadow-md max-w-md mx-auto my-4 bg-white transition-transform duration-300 hover:scale-105">
    <h1 class="text-center text-2xl font-bold mb-4 uppercase">Isuranga Jayasinghe</h1>
    <img class="block mx-auto rounded-full w-48 h-48 object-cover mb-4" src="assets/profile.jpg" alt="Profile Picture">
    <p class="text-center text-gray-500">Hi! I'm Isuranga, a passionate Web developer who enjoys learning new technologies and solving problems with code!</p>
</div>

